USE [master]
GO
/****** Object:  Database [LpakTesting]    Script Date: 20.03.2024 6:41:52 ******/
CREATE DATABASE [LpakTesting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LpakTesting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LpakTesting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LpakTesting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LpakTesting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LpakTesting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LpakTesting]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 20.03.2024 6:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[TaxNumber] [char](15) NOT NULL,
	[Comment] [text] NULL,
	[FieldOfBusinessId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldOfBusiness]    Script Date: 20.03.2024 6:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldOfBusiness](
	[FieldOfBusinessId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FieldOfBusiness] PRIMARY KEY CLUSTERED 
(
	[FieldOfBusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20.03.2024 6:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [uniqueidentifier] NOT NULL,
	[StatusId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[DataTime] [datetime] NOT NULL,
	[NameWork] [varchar](255) NOT NULL,
	[DescriptionWork] [varchar](1000) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrder]    Script Date: 20.03.2024 6:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrder](
	[StatusId] [uniqueidentifier] NOT NULL,
	[NameStatus] [varchar](50) NOT NULL,
 CONSTRAINT [StatusOrder_pk] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustomerId], [Name], [TaxNumber], [Comment], [FieldOfBusinessId]) VALUES (N'f33e14cb-1adc-4715-88fa-058ab2f7f19f', N'ТехноЛидер', N'567738710225   ', N'', N'6a5bac6f-c266-4d5d-8a3b-f27022bb01f6')
INSERT [dbo].[Customer] ([CustomerId], [Name], [TaxNumber], [Comment], [FieldOfBusinessId]) VALUES (N'ef6ab083-1bf4-4406-a45c-13a91e74e450', N'ИнтерКомп', N'038663367688   ', N'', N'8f880ea2-e834-4a06-9ad6-12814cdf0933')
INSERT [dbo].[Customer] ([CustomerId], [Name], [TaxNumber], [Comment], [FieldOfBusinessId]) VALUES (N'848d4aba-0713-4709-8781-15d7d9152a24', N'ГлобалТрейд', N'2245881945     ', N'', N'16db98d2-54f8-4ed7-b25b-e18e755b2d31')
GO
INSERT [dbo].[FieldOfBusiness] ([FieldOfBusinessId], [Name]) VALUES (N'4592188b-222e-480e-85c3-d70637d9c8ba', N'T231e2st')
INSERT [dbo].[FieldOfBusiness] ([FieldOfBusinessId], [Name]) VALUES (N'b71dfb34-e7e2-4e6a-8804-cc5e001934d6', N'Test')
INSERT [dbo].[FieldOfBusiness] ([FieldOfBusinessId], [Name]) VALUES (N'85cbd726-bcfa-4885-bc20-f99939441179', N'Бумага')
GO
INSERT [dbo].[Orders] ([OrderId], [StatusId], [CustomerId], [DataTime], [NameWork], [DescriptionWork]) VALUES (N'2e6328bb-87fe-4ef0-bba4-073407e4fec4', N'8ab339e8-add2-40a8-89e0-a50c3ebc78da', N'01da07e6-4006-41ac-9f12-265fbe0aa95d', CAST(N'2024-03-19T00:00:00.000' AS DateTime), N'Проект доставки', N'')
INSERT [dbo].[Orders] ([OrderId], [StatusId], [CustomerId], [DataTime], [NameWork], [DescriptionWork]) VALUES (N'9dae1d14-6702-4b54-8924-09cd7d2f447b', N'8ab339e8-add2-40a8-89e0-a50c3ebc78da', N'f33e14cb-1adc-4715-88fa-058ab2f7f19f', CAST(N'2024-03-19T00:00:00.000' AS DateTime), N'Маркетинговая реклама', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500')
INSERT [dbo].[Orders] ([OrderId], [StatusId], [CustomerId], [DataTime], [NameWork], [DescriptionWork]) VALUES (N'017a5763-7c8e-4ab7-8699-0be3d84de8f8', N'7036185d-ef38-41e0-bbcb-3b53c6d0401c', N'f33e14cb-1adc-4715-88fa-058ab2f7f19f', CAST(N'2024-03-19T00:00:00.000' AS DateTime), N'Анализ бюджета', N'Проанализировать перераспределение бюджета на производственной линии')
GO
INSERT [dbo].[StatusOrder] ([StatusId], [NameStatus]) VALUES (N'7881fc4b-4445-4617-9c84-8b4ffa02892b', N'TestStatusWork')
INSERT [dbo].[StatusOrder] ([StatusId], [NameStatus]) VALUES (N'c41dec67-1008-4e8f-b6e1-8d6dd7dce263', N'В работе')
INSERT [dbo].[StatusOrder] ([StatusId], [NameStatus]) VALUES (N'8ab339e8-add2-40a8-89e0-a50c3ebc78da', N'Завершено')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [qk_Customer_Name]    Script Date: 20.03.2024 6:41:52 ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [qk_Customer_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [qk_Customer_TaxNumber]    Script Date: 20.03.2024 6:41:52 ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [qk_Customer_TaxNumber] UNIQUE NONCLUSTERED 
(
	[TaxNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [qk_FieldOfBusiness]    Script Date: 20.03.2024 6:41:52 ******/
ALTER TABLE [dbo].[FieldOfBusiness] ADD  CONSTRAINT [qk_FieldOfBusiness] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [qk_status_NameStatus]    Script Date: 20.03.2024 6:41:52 ******/
ALTER TABLE [dbo].[StatusOrder] ADD  CONSTRAINT [qk_status_NameStatus] UNIQUE NONCLUSTERED 
(
	[NameStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_FieldsOfBusiness_FieldOfBusinessId] FOREIGN KEY([FieldOfBusinessId])
REFERENCES [dbo].[FieldOfBusiness] ([FieldOfBusinessId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_FieldsOfBusiness_FieldOfBusinessId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [fk_Order_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusOrder] ([StatusId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [fk_Order_Status_StatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [fk_Orders_Customer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [fk_Orders_Customer_CustomerId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'StatusId' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'StatusId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DataTimeStart' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'DataTime'
GO
USE [master]
GO
